@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
@import url("https://fonts.googleapis.com/css?family=Roboto");

.contianer {
    background-color: white;
}

.title-container {
    position: absolute;
    width: 80%;    height: 20vh;
    top: 5vh; left: 10%;
}

.font-normal {
    font-family: 'Roboto';
}

.start-title {
    font-family: "Berkshire Swash";
    color: #9a312c;
    font-size: 15vw;
    margin-block-start: 1vh;
    margin-block-end: 1vh;
    margin: 0;
}

.start-title-description {
    color: #9a312c;
    font-size: 36px;
}

.category-container {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
}

.category-item {
    width: 100%;
    height: 400px;
    box-shadow: 0 0 30px 1px grey;
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    border-radius: 0;
    border: 0;
}

.category-item-image {
    /* top: 20px; */
    width: 40%;
    height: 360px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.category-item-content {
    width: 60%;
    padding: 50px 50px 50px 50px;
    text-align: center;
}

.category-item-title {
    display: inline-block;
    color: #9a312c;
    font-size: 60px;
    margin-bottom: 20px;
}

.category-item-description {
    font-size: 40px;
}

/* Get Started Page */
.get-started-container {
    background-image: url('../textures/get_started_back.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;   height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.get-started-scan-container {
    position: absolute;
    width: 60vw;    height: 60vw;
    top: calc((20vw + 20vh) / 2); left: 20vw;
    /* background-color: blue; */
    text-align: justify;
}

.get-started-scan-bg {
    position: absolute;
    width: calc(100% - 40px);    height: calc(100% - 40px);
    margin: 20px 20px 20px 20px;
    background-color: #00000080;
}

.get-started-scan-outline {
    position: absolute;
    width: 100%;    height: 100%;
    display: block;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.get-started-scan-image {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.get-started-button-container {
    position: absolute;
    width: 50vw;    height: 30vw;
    bottom: 150px; left: 25vw;
    /* background-color: red; */
}

.get-started-scan-description {
    height: 10vw;
    margin: 5vw;
    text-align: center;
}

.get-started-scan-description text {
    color: white;
    font-size: 40px;
}

.get-started-button {
    width: 50vw;   height: 16vw;
    border-radius: 8vw;
    background-color: white;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    line-height: 16vw;
    border: 0;
}

.get-started-button-description {
    color: #9a312c;
    font-size: 40px;
    margin: 0;
}

/* Main */
.ar-container {
    /* background-color: blue; */
    width: 100%;    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 4;
}

.main-header {
    position: absolute;
    background-color: #9a312c;
    width: 100vw;   height: 16vw;
    pointer-events: auto;
}

.main-header table {
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;    height: 100%;
}

.main-header-title {
    color: white;
    font-size: 20px;
    margin: 0;
}

.main-footer {
    pointer-events: auto;
    position: absolute;
    width: 100vw;   height: 16vw;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-footer-button-on {
    background-color: #9a312c;
    width: 50%;    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 0;
}

.main-footer-button-on text {
    color: white;
    font-size: 20px;
}

.main-footer-button-off {
    background-color: white;
    width: 50%;    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 0;
}

.main-footer-button-off text {
    color: #9a312c;
    font-size: 20px;
}
